body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.7;
    color: $color-grey-dark;
    padding: 3rem;
}
.heading-primary{
    color: $color-white;
    text-transform: uppercase;
    backface-visibility: hidden;
    
    &--main{
        display: block;
        font-size: 6rem;
        font-weight: 400;
        letter-spacing: 3.5rem;
        animation: moveInRight 1s ease-out
    
    
    }
    &--sub{
        display: block;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 1.69rem;
        animation: moveInRight 1s ease-out;
        margin-bottom: 6rem;
        
    
    }


}
.heading-secondary{
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
    -webkit-background-clip: text;
    color: transparent;
    transition: all .2s;
    letter-spacing: .2rem;

    &:hover{
        transform: skewX(15deg) skewY(2deg) scale(1.1);
        text-shadow: .5rem 1rem 2rem rgba($color-black, .2);
        
    }

}
.heading-tertiary{
    font-size: $default-font-size;
    font-weight: 700;
    text-transform: uppercase;
}
.paragraph{
    font-size: $default-font-size;
    &:not(:last-child){
        margin-bottom: 3rem;
    }

}
