.u-text-center{
    text-align: center;
}

.margin-bottom-medium{
    margin-bottom: 4rem;

}
.margin-bottom-big{
    margin-bottom: 8rem;
}

.margin-bottom-small{
    margin-bottom: 1.5rem;
}
.margin-top-big{
    margin-top: 8rem;
}
.margin-top-huge{
    margin-top: 10rem;
}